body {
  background: #121212;
  color: #ccc;
  font-family: 'Arial, sans-serif';
}

h1 {
  text-align: center;
  color: #0f0;
  margin-bottom: 20px;
}

.clearfix {
  clear: both;
}

#box {
  width: 600px;
  overflow: auto;
  margin: 40px auto;
  background: #1e1e1e;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

#message {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
}

#gameBoard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 0;
  list-style: none;
}

#gameBoard li {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  width: 150px;
  font-size: 60px;
  background: #333;
  color: #ccc;
  border-radius: 10px;
  transition: background 0.3s ease;
}

#gameBoard li:hover, #reset:hover {
  cursor: pointer;
  background: #0f0;
}

#reset {
  border: 0;
  background: #444;
  color: #fff;
  width: 80%;
  padding: 15px;
  border-radius: 10px;
  margin: 20px auto 0;
  display: block;
  transition: background 0.3s ease;
}

.o {
  color: #0f0 !important;
}

.x {
  color: #f00 !important;
}

footer {
  display: block;
  text-align: center;
  padding-top: 20px;
}

.loginForm {
  justify-content: center;
  display: grid;
  gap: 10px;
  max-width: 400px;
  margin: 40px auto;
}

.inputText {
  width: 100%;
  padding: 10px;
  border: 1px solid #444;
  border-radius: 5px;
  background: #1e1e1e;
  color: #ccc;
  margin-bottom: 10px;
}

button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: #444;
  color: #fff;
  transition: background 0.3s ease;
}

button:hover {
  background: #0f0;
  color: #121212;
}

h4 {
  text-align: center;
  color: #0f0;
  margin-bottom: 20px;
}
